:root{
    --mainblue:#2a2a72;
    --Lightblye:#009ffd;
    --mainWhite:#f3f3f3;
    --maindark:#232528;
    --mainYellow:#ffa400;
}
body{
    font-family:"oswald",sans-serif !important;
    background :var(--mainWhite) !important;
    color :var(--mainDark) !important
}
.text-title{
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;

}
.text-blue{
    color:var(--mainblue);

}
.text-bright{
    color:var(--Lightblye)
}
nav.navbar { position: static; 
            margin:0;             
}
.card{
    margin:40px;
}
.btn-secondary {

  /* color: #fff; */
    /* background-color: #6c757d; */
    border-color: #6c757d;}

/*card*/
.card{
    border-color:transparent;
    transition:all 0.3s linear;
}
/*   card footer*/
.card-footer{
    background:transparent;
    border-top:transparent;
    transition:all 0.4s linear;

}

.card:hover{
    border:0.04rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px opx rgba(0, 0, 0, 0.2);
}
.card-footer:hover{
    background:rgba(247, 247, 247);
}
.img-container{
    position: relative;
    overflow:hidden;
}
.img-container:hover .card-img-top{
    transform:scale(1.2);
}